:root {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    max-width: 880px;
  }

  @media (max-width: 991px) {
    max-width: 680px;
  }

  @media (max-width: 485px) {
    max-width: auto;
    margin: 0 16px;
  }
}
